* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f98484;
  color: #333;
}
.navbar {
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.nav-links li {
  margin: 0 15px;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.name {
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}
